*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

html {
  min-height: 100%;
  position: relative;
}

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #333;
	margin-bottom: 100px;
}

.subtitle {
	margin-top: 0;
	margin-left: 0;
	color: #9E9E9E;
}

.header {
	background-color: #2ecc87;
	border-bottom: 1px solid #ccc;
}

.header .header-content {
	width: 100%;
	max-width: 980px;
	margin: auto;
	padding: 14px 16px;
	overflow: auto;
}

.site-title {
	font-weight: 300;
	font-size: 16px;
	float: left;
}

.site-title a{
	text-decoration: none;
	color: #FFF;
}

.container {
	max-width: 980px;
	width: 100%;
	padding: 15px;
	margin: 0 auto;
}

.event-detail {
	margin-bottom: 30px;
}

/* added by nosu */

.event-title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

.event-memo {
	font-size: 16px;
	text-align: center;
	color: #666;
	margin-bottom: 40px;
}

.schedule-table {
	border-collapse:collapse;
	margin-bottom: 50px;
}

.schedule-table thead {
	color: #fff;
	background-color: #2ecc87;
}

.schedule-table thead tr {
	border-width: 1px 0px;
	border-color: #2ecc87;
	border-style: solid;
}

.schedule-table thead tr th {
	padding: 2px 0;
}

.schedule-table th {
	min-width: 140px;
	text-align: center;
}

.schedule-table td {
	min-width: 160px;
	text-align: center;
	padding: 5px 0;
}

.schedule-table a:link {
	color: #fff;
}

.schedule-table a:visited {
	color: #fff;
}

.add-schedule {
	text-align: center;
}

.add-schedule-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:18px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.add-schedule-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.add-schedule-button:active {
	position:relative;
	top:1px;
}

.form {
	text-align: center;
	margin-bottom: 20px;
}

.form input {
	width: 80%;
  padding: 6px 8px;
  margin-bottom: 18px;
  font-size: 22px;
}

.form table {
	margin: 0 auto;
}

.footer{
	bottom: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 42px 0;
	background-color: #999;
}

.footer p{
	margin: 0 0 8px 0;
	font-size: 14px;
	color: #FFF;
}

.footer a{
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
}

@media (max-width: 767px){
	.add-post-button{
		float: left;
		margin-top: 16px;
	}

/*.form {
	display: none;
	background: #FAFAFA;
	padding: 32px 0;
	border: 1px solid #eee;
	border-radius: 4px;
}

.form-content{
	width: 100%;
	max-width: 600px;
	margin: auto;
	font-size: 14px;
}

.form .form-title{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 16px;
	color: #757575;
}

.form .form-field{
	width: 100%;
	margin-bottom: 16px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: normal;
	padding: 12px 16px;
	border-radius: 4px;
	border: 1px solid #ddd;
	outline: none;
	color: #212121;
}

.form textarea.form-field{
	min-height: 200px;
}

.form .post-submit-button{
	display: inline-block;
	padding: 8px 16px;
	font-size: 18px;
	color: #FFF;
	background: #03A9F4;
	text-decoration: none;
	border-radius: 4px;
}

.form.appear {
	display: block;
}

.add-post-button {
	display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.single-post {
	margin: 20px 0;
	padding: 15px;
	border-radius: 2px;
}

.single-post .post-title{
	font-size: 28px;
	margin-bottom: 16px;
	font-weight: 400;
	color: #616161;
}

.single-post.post-detail .post-title{
	font-size: 42px;
	color: #454545;
}

.single-post .post-title a{
	text-decoration: none;
	color: #616161;
}

.single-post .author-name{
	font-size: 16px;
	margin-bottom: 16px;
	color: #757575;
}

.single-post .post-desc{
	font-size: 14px;
	color: #888;
	margin-bottom: 8px;
}

.single-post.post-detail .post-desc{
	font-size: 16px;
	color: #555;
}

.single-post .post-action a{
	color: #555;
	text-decoration: none;
	font-size: 14px;
	font-style: italic;
}

.single-post .post-action a:hover{
	color: #EF5350;
}

.single-post .divider{
	border: 0;
  height: 1px;
  background: #ccc;
  width: 250px;
  margin: 32px auto 0;
}*/
